input {
    padding: 15px;
    border-radius: 5px;
    border: 1px solid gray;
}

.formInput {
    display: flex;
    padding: 10px 0;
    gap: 10px;
    flex-direction: column;
}

label {
    font-size: 12px;
    color: gray;
}

span {
    font-size: 12px;
    color: red;
    padding: 3px;
    display: none;
}

input:invalid[focused="true"] {
    border: 1px solid red;
}
input:invalid[focused="true"] ~ span {
    display: block;
}