.player-form {
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    gap: 20px;
    width: 80%;
}
.player-form > h3 {
    text-align: center;
}

.player-form > label {
    font-size: 1.2rem;
    font-weight: bold;
}

.player-form > input {
    width: 100%;
    padding: 5px;
}
.player-form > button {
    cursor: pointer;
    width: 50%;
    padding: 5px;
    color: white;
    background-color: black;
}