.battle-container {
    display: flex;
    padding: 20px;
    row-gap: 50px;
    flex-flow: row wrap;
    justify-content: space-around;
}
.userCart {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 50%;
    padding: 10px;
    row-gap: 20px;
}
.userCart > h3 {
    max-width: 200px;
    line-height: 40px;
    text-align: center;
}
.userCart > h3:first-letter {
    font-size: 1.5rem;
    color: #e34d00;
}
.userCart > .reset {
    color: rgb(248, 122, 122);
    background: none;
    border: none;
    cursor: pointer;
}

@media (max-width: 650px) {
    .battle-container {
        row-gap: 10px;
        flex-flow: column nowrap;
        align-items: center;
    }
    .button {
        align-self: center;
    }
}