.battle-container {
    display: flex;
    padding: 20px;
    row-gap: 50px;
    flex-flow: row wrap;
    justify-content: space-around;
}
.userCart {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    flex-basis: 50%;
    row-gap: 20px;
}
.userCart > h3 {
    max-width: 200px;
    line-height: 40px;
    text-align: center;
}
.userCart > h3:first-letter {
    font-size: 1.5rem;
    color: #e34d00;
}
.userCart > .reset {
    color: rgb(248, 122, 122);
    background: none;
    border: none;
    cursor: pointer;
}
.battle-container > .button {
    color: white;
    background-color: black;
    padding: 10px 50px;
    text-decoration: none;
}